/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h1 {
font-size: 1.5rem;
}

blockquote {
font-style: italic;
}

h2 {
font-size: 1.4rem;
}

h3 {
font-size: 1.2rem;
}

h5 {
font-size: 1rem; font-weight: 100;
}

p {
font-size: 1rem;
}



/**umb_name:Header*/
#Header{
 
    margin-top: 10px;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 15px;

}

/**umb_name:Header 2*/
#Header2{
    margin-top: 10px;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/**umb_name:Header 3*/
#Header3{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/**umb_name:Smooth*/
#Smooth{
   font-family:"Raleway, sans-serif";
   font-size:16px;

}

/**umb_name:Paragraph*/
#Paragraph{}

/**umb_name:Blockquote*/
#Blockquote{}