@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var home = CurrentPage.Site();
}

<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h5>about us</h5>
                <p>
                    Lorem ipsum dolor sit amet consect etural
                    adipisicing elit sed don eiusmod temp enim
                    minim veniam quis notrud exercitation lore
                    ipsum dolor sit amet.
                </p>
            </div>
            <div class="col-md-3 col-sm-3">
                <h5>Sitemap</h5>
                <div class="row">
                    @if (home.Children.Where("Visible").Any())
                    {
                        @* For each child page under the home node, where the property umbracoNaviHide is not True *@
                    foreach (var childPage in home.Children.Where("Visible"))
                    {
                        <div class="col-md-6">
                            @if (childPage.Children.Where("Visible").Any())
                            {
                                @childPages(childPage.Children)
                            }
                        </div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <h5>Contact info</h5>
                <ul class="contacts-list">
                    <li>
                        <p><i class="icon icon-House"></i>68 Landsriver Street, California  USA 22036</p>
                    </li>
                    <li>
                        <p><i class="icon icon-Phone2"></i>0800 126 01268</p>
                    </li>
                    <li>
                        <p><i class="icon icon-Mail"></i><a href="mailto:support@oscend.com">support@oscend.com</a> </p>

                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">

            </div>
        </div>
    </div>
</section>


@helper childPages(dynamic pages)
{
    @* Ensure that we have a collection of pages *@
if (pages.Any())
{
    <ul class="footer-nav">
        @foreach (var page in pages.Where("Visible"))
        {
            <li>
                <a href="@page.Url">@page.Name</a>
            </li>
        }
    </ul>
}
}


