<?xml version="1.0" encoding="utf-8"?>
<optimus>
  <settings>
    <setting key="onlyAllowCssFilesInEditor" value="True" />
    <setting key="onlyAllowJsFilesInEditor" value="True" />
    <setting key="compileDynamicStyleSheetsToCss" value="True" />
    <setting key="compileDynamicJavaScriptToJs" value="True" />
    <setting key="ignoreCompilationDebug" value="True" />
  </settings>
  <bundles>
    <scriptBundle virtualPath="~/bundles/scripts" disableMinification="False">
      <include virtualPath="~/vendor/jquery-ui/jquery-ui.min.js" />
      <include virtualPath="~/vendor/bootstrap/dist/js/bootstrap.min.js" />
      <include virtualPath="~/vendor/owl-carousel/owl-carousel/owl.carousel.min.js" />
      <include virtualPath="~/vendor/waypoints/lib/jquery.waypoints.min.js" />
      <include virtualPath="~/vendor/slider-pro/dist/js/jquery.sliderPro.min.js" />
      <include virtualPath="~/vendor/slick-carousel/slick/slick.min.js" />
      <include virtualPath="~/vendor/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js" />
      <include virtualPath="~/vendor/wow/dist/wow.min.js" />
      <include virtualPath="~/vendor/fancybox/source/jquery.fancybox.pack.js" />
      <include virtualPath="~/js/modernizr.js" />
      <include virtualPath="~/js/contact.js" />
      <include virtualPath="~/js/custom.js" />
      <include virtualPath="~/js/map.js" />
    </scriptBundle>
    <styleBundle virtualPath="~/bundles/css" disableMinification="False">
      <include virtualPath="~/fonts/Stroke-Gap-Icons-Webfont/style.css" />
      <include virtualPath="~/vendor/bootstrap/dist/css/bootstrap.min.css" />
      <include virtualPath="~/vendor/owl-carousel/owl-carousel/owl.carousel.css" />
      <include virtualPath="~/vendor/slider-pro/dist/css/slider-pro.min.css" />
      <include virtualPath="~/vendor/slick-carousel/slick/slick.css" />
      <include virtualPath="~/vendor/animate.css/animate.min.css" />
      <include virtualPath="~/vendor/fancybox/source/jquery.fancybox.css" />
      <include virtualPath="~/css/main.css" />
      <include virtualPath="~/css/rte.css" />
    </styleBundle>
  </bundles>
</optimus>